<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetSmokingData_Techlink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GetSmokingData_Techlink.Properties.Settings>
            <setting name="isRemoveBT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="introFile" serializeAs="String">
                <value>techlinkIntro_1</value>
            </setting>
            <setting name="isAddFilter" serializeAs="String">
                <value>False</value>
            </setting>
        </GetSmokingData_Techlink.Properties.Settings>
    </userSettings>
</configuration>